.add-expenses-div {
  height: 100%;
  width: 100%;
  padding: 2%;
}
.dark-add-expenses-div {
  height: 100%;
  width: 100%;
  padding: 2%;
  background-color: black;
}

.dark-add-expenses-header {
  color: white;
}
.add-expenses-header {
  color: black;
  margin-top: 50px;
}

.add-expenses-form {
  border: 2px solid black;
  padding: 2% 2%;
  height: 45%;
  width: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}
.dark-add-expenses-form {
  border: 2px solid white;
  padding: 2% 2%;
  height: 45%;
  width: 35%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
}

.add-expenses-form label {
  margin-bottom: 10px;
  font-weight: bold;
}
.dark-add-expenses-form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.expenses {
  background-color: white;
  font-weight: bold;
  width: 40%;
  margin: auto;
}

.expense-delete-button {
  background-color: rgb(244, 84, 84);
  border: none;
  margin-left: 5%;
}

.expense-edit-button {
  background-color: rgb(139, 246, 139);
  border: none;
  margin-left: 5%;
}
